<template>
  <div class="search-bar" @click="router.push({ name: 'Search' })">
    <div class="search">
      <div class="icon-searcher"><van-icon name="search" class="ico-sear" /></div>
      <div class="inpuy-swipe">
        <van-swipe
          style="height: 33px"
          vertical
          :autoplay="3000"
          :show-indicators="false"
        >
          <van-swipe-item v-for="item in swipeText" :key="item.title" style="height: 33px;line-height:33px">{{ item.title }}</van-swipe-item>
        </van-swipe>
      </div>
    </div>
  </div>
</template>

<script>
import { swipeTextList } from "~/assets/js/http/api";
export default {
  data() {
    return {
      swipeText: [],
    };
  },
  computed: {},
  methods: {
    async getSwipeTextList()  {
      const { data } = await swipeTextList();
      this.swipeText = data;
    },
  },
  mounted() {
    this.getSwipeTextList();
  },
};
</script>

<style lang="scss" scoped>
.search-bar {
  padding: 12.5px 15px;
  background: #fff;
}
.search {
  display: flex;
  align-items: center;
  height: 33px;
  color: #b2b2b2;
  background-color: #f7f8fa;
  border-radius: 5px;
  line-height: 33px;
  font-size: 20px;
}
.icon-searcher {
  margin: 0 10px;
}
.inpuy-swipe {
  flex: 1;
}
</style>
