img {
  display: block;
  width: 100%;
  height: 100%;
}
input {
  border: 0;
  outline: 0;
}
a,article,aside,body,button,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,img,input,li,menu,nav,ol,p,section,select,table,tbody,td,textarea,th,tr,ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0
}

element.style {
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a, article, aside, body, button, dd, details, div, dl, dt, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, img, input, li, menu, nav, ol, p, section, select, table, tbody, td, textarea, th, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
*, :after, :before {
    box-sizing: border-box;
}