<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html,
body,
#__nuxt {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #fff;
}
body {
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
}
</style>
