<template>
  <div class="cart-layout">
    <div class="header  header__fixed">
      <div class="title">购物车</div>
      <div class="info van-hairline--top">
        <div class="goods-count">共{{ cartNum }}件商品</div>
        <div class="edit-btn" @click="isEdit = !isEdit">
          {{ isEdit ? "完成" : "编辑" }}
        </div>
      </div>
    </div>
    <div class="main">
      <div class="cart-list">
        <div
          class="goods-item"
          v-for="(item, index) in cartsGoodsForms"
          :key="item.cartId"
        >
          <div class="checkbox">
            <van-checkbox v-model="item.isChecked" checked-color="#ee0a24"></van-checkbox>
          </div>
          <div class="goods-img">
            <img :src="item.url" alt="" />
          </div>
          <div class="goods-info">
            <div class="goods-title" @click="router.push({ name: 'Product' })">
              {{ item.goodsName }}
            </div>
            <div class="goods-price">
              <div class="price-label">¥{{ item.price }}</div>
              <div class="stepper">
                <van-stepper v-model="item.quantity" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="submit-bar" v-if="!isEdit">
      <van-submit-bar
        :price="totalPriceNum * 100"
        :button-text="`去结算(${checkedNum})`"
        @submit="submit" class="submit-width"
      >
        <van-checkbox v-model="isAllChecked" checked-color="#ee0a24">全选</van-checkbox>
      </van-submit-bar>
    </div>
    <div class="submit-bar" v-else>
      <van-submit-bar button-text="删除" @submit="delCartItem" class="submit-width">
        <van-checkbox v-model="isAllChecked" checked-color="#ee0a24">全选</van-checkbox>
      </van-submit-bar>
    </div>
    <TabBar />
  </div>
</template>

<script>
import { reqCartList } from "~/assets/js/http/api";
import TabBar from "@/components/TabBar.vue";
import { Dialog } from "vant";

export default {
  components: { TabBar },
  data() {
    return {
      isEdit: false,
    };
  },
  async asyncData() {
    const { data } = await reqCartList();
    return { cartsGoodsForms: data.cartsGoodsForms };
  },
  computed: {
    cartNum() {
      return this.cartsGoodsForms.length;
    },
    checkedNum() {
      return this.cartsGoodsForms.reduce((pre, cur) => pre + (cur.isChecked ? 1 : 0), 0);
    },
    totalPriceNum() {
      return this.cartsGoodsForms.reduce(
        (pre, cur) => pre + (cur.isChecked ? cur.price * cur.quantity : 0),
        0
      );
    },
    isAllChecked: {
      get() {
        return this.checkedNum == this.cartNum;
      },
      set(value) {
        this.cartsGoodsForms.forEach((cur) => {
          cur.isChecked = value;
        });
      },
    },
  },
  methods: {
    async delCartItem() {
      const res = await Dialog.confirm({
        message: "确认要删除选中的商品吗？",
      });
      if (res == "confirm") {
        console.log("confirm");
        this.cartsGoodsForms = this.cartsGoodsForms.filter((cur) => !cur.isChecked);
      }
    },
    submit() {},
  },
  mounted() {},
  destroyed() {},
};
</script>

<style lang="scss" scoped>
.cart-layout {
  .header {
    height: 92px;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    top: 0;
    z-index: 99;
  }
  .header__fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
  }
  .main {
    margin-top: 92px;
    height: calc(100vh - 92px - 1.33333rem - 1.33333rem);
    padding: 16px;
    overflow-y: scroll;
  }
}

.title {
  height: 46px;
  font-size: 17px;
  line-height: 46px;
  text-align: center;
}
.info {
  height: 46px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  .goods-count {
    color: #0000008c;
  }
  .edit-btn {
    font-size: 15px;
  }
}
.cart-list {
  padding-bottom: 2.66666rem;
}
.goods-item:not(:first-of-type) {
  margin-top: 10px;
}
.goods-item {
  border-radius: 8px;
  color: #333;
  font-size: 15px;
  line-height: 15px;
  background-color: #fff;
  position: relative;
  padding: 14px 12px;
  display: flex;
  align-items: center;
  .goods-img {
    margin-left: 10px;
    margin-right: 8px;
    width: 99px;
    background-color: #f6f6f6;
    border-radius: 7.5px;
  }
  .goods-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .goods-price {
      color: #f63434;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 15px;
    }
  }
}

.submit-bar ::v-deep .van-submit-bar {
  bottom: 50px;
}
.submit-width {
  max-width: 500px;
  margin: 0 auto;
}
</style>
