<template>
  <div>Category</div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
<template>
  <div>
    <InpSwipe />
    <div class="other">
      <section class="left-wrapper">
        <ul>
          <li
            :class="{ active: index === currentIndex }"
            v-for="(list, index) in leftList"
            :key="list.categoryCode"
            @click="clickLeftItem(index)"
            class="js-hook-left"
          >
            <span>{{ list.name }}</span>
          </li>
        </ul>
      </section>

      <section class="right-wrapper">
        <ul class="content">
          <li
            class="js-hook-lis"
            v-for="(item, index) in rightList"
            :key="item.categoryCode"
            @click="router.push({ name: 'Product' })"
          >
            <div class="title-banner" v-if="item.category.ads.length > 0">
              <img :src="item.category.ads[0].logoUrl" alt="" />
            </div>
            <h4>{{ item.category.name }}</h4>
            <ul class="products-list">
              <li
                class="product-item"
                v-for="(item2, index) in item.category.goods"
                :key="item2.categoryCode"
              >
                <div class="product-item-image"><img :src="item2.mainImg" alt="" /></div>
                <div class="product-text">
                  <div class="title">{{ item2.spuName }}</div>
                  <div class="desc" v-if="item2.marketingText">
                    {{ item2.marketingText }}
                  </div>
                  <div class="price">¥{{ item2.price.price }}</div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
    <TabBar />
  </div>
</template>

<script>
import BScroll from "better-scroll";
import {
  reqCategoryLeft,
  reqCategoryRight1,
  reqCategoryRight2,
  reqCategoryRight3,
} from "~/assets/js/http/api";
import TabBar from "@/components/TabBar.vue";
import InpSwipe from "@/components/InpSwipe.vue";

export default {
  components: { TabBar, InpSwipe },
  data() {
    return {
      scrollY: 0,
      topLists: [],
    };
  },
  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
  }) {
    const { data: leftList } = await reqCategoryLeft();
    const { data: data1 } = await reqCategoryRight1();
    const { data: data2 } = await reqCategoryRight2();
    const { data: data3 } = await reqCategoryRight3();
    const rightList = [
      ...data1,
      ...data2,
      ...data3,
      ...data1,
      ...data2,
      ...data3,
      ...data1,
      ...data2,
      ...data3,
      ...data1,
    ];
    return { leftList, rightList };
  },
  computed: {
    currentIndex() {
      return this.topLists.findIndex((top, index) => {
        // leftScroll(index)
        this.leftScroll(index);
        return this.scrollY >= top && this.scrollY < this.topLists[index + 1];
      });
    },
  },
  methods: {
    _initLeft() {
      this.leftBS = new BScroll(".left-wrapper", {
        probeType: 2,
        click: true,
      });
    },
    _initRight() {
      this.rightBS = new BScroll(".right-wrapper", {
        probeType: 3,
        click: true,
      });
      this.rightBS.on("scroll", ({ x, y }) => {
        // console.log(x, y);
        this.scrollY = Math.abs(y);
      });
      // 给右侧列表绑定scroll结束的监听
      this.rightBS.on("scrollEnd", ({ x, y }) => {
        // console.log("scrollEnd", x, y);
        this.scrollY = Math.abs(y);
      });
    },
    _initTops() {
      const tops = [];
      let top = 0;
      tops.push(top);
      const lis = document.querySelectorAll(".js-hook-lis");
      Array.from(lis).forEach((li) => {
        top += li.clientHeight;
        tops.push(top);
      });
      this.topLists = tops;
    },
    leftScroll(index) {
      const leftList = document.querySelectorAll(".js-hook-left");
      let el = leftList[index];
      this.leftBS.scrollToElement(el, 300, 0, -100);
    },
    clickLeftItem(index) {
      this.scrollY = this.topLists[index];
      this.rightBS.scrollTo(0, -this.scrollY, 300);
    },
  },
  mounted() {
    this._initLeft();
    this._initRight();
    this._initTops();
  },
  destroyed() {
    this.leftBS.destroy();
    this.rightBS.destroy();
  },
};
</script>

<style lang="scss">
.other {
  height: calc(100vh - 54px - 50px);
  display: flex;
}
.left-wrapper {
  width: 25%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  li {
    padding: 0 8px;
    height: 53px;
    line-height: 53px;
    &.active {
      position: relative;
      color: #000;
      font-weight: 700;
      font-size: 15px;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        height: 15px;
        margin: auto;
        background: #000;
        content: "";
      }
    }
    span {
      font-size: 14px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}
.right-wrapper {
  flex: 1;
  height: 100%;
  overflow: hidden;
  .content {
    padding: 0 12px;
    > li {
      .title-banner {
        height: 83.5px;
      }
      h4 {
        margin-top: 6px;
        font-size: 15px;

        line-height: 42px;
        padding-left: 8px;
        color: #000;
        text-align: left;
      }
      .products-list {
        .product-item {
          display: flex;
          align-items: center;
          height: 76px;
          margin-bottom: 14px;
          background: #fff;
          border-radius: 12.5px;

          .product-item-image {
            width: 56px;
            height: 56px;
            margin: 0 10px;
          }
          .product-text {
            font-size: 12px;
            height: 56px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
</style>
