<template>
  <div class="home__background">
    <div class="inp-search">
      <InpSwipe />
    </div>

    <van-swipe :autoplay="3000">
      <van-swipe-item v-for="item in swipeList" :key="item.id">
        <img :src="item.url" />
      </van-swipe-item>
    </van-swipe>

    <van-grid :border="false">
      <van-grid-item
        v-for="item in navList"
        :key="item.id"
        :icon="item.url"
        :text="item.title"
      />
    </van-grid>

    <div class="floor-contain">
      <ul>
        <li class="floor-row" v-for="(item, index) in floorList" :key="index">
          <div class="floor-item" v-for="item2 in item" :key="item2.id">
            <router-link to="/product" class="floor-img-wrapper"><img :src="item2.url" alt=""></router-link>
          </div>
        </li>
      </ul>

      <div class="floor-row__little">
        <div class="floor-item__little" v-for="item in floorLittleList" :key="item.id">
          <router-link to="/product" class="floor-img-wrapper"><img :src="item.url" alt=""></router-link>
        </div>
      </div>
    </div>

    <section class="sale-contain">
      <van-cell value="更多" is-link>
        <template #title>
          <div class="title-flex">
            <span class="custom-title__big">今日必抢</span>
            <van-count-down :time="600000000" class="to-line-height">
              <template #default="timeData">
                <span class="time-block">{{ timeData.hours }}</span>
                <span class="time-colon">:</span>
                <span class="time-block">{{ timeData.minutes }}</span>
                <span class="time-colon">:</span>
                <span class="time-block">{{ timeData.seconds }}</span>
              </template>
            </van-count-down>
            <span class="custom-title">后结束</span>
          </div>
        </template>
      </van-cell>

      <div class="slide-product-wrapper">
        <ul class="slide-list-panel">
          <li class="slide-product-item" v-for="item in saleToday" :key="item.id">
            <div class="product-img-box">
              <img :src="item.url" />
            </div>
            <div class="product-description">
              <div class="product-identity van-ellipsis">
                {{ item.title }}
              </div>
              <div class="price-wrapper">
                <div class="price-originalPrice-panel">
                  <div class="price-item">¥{{ item.price }}</div>
                  <div class="original-price-item">¥{{ item.originalPrice }}</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section
      class="product-collection-contain"
      v-for="item in productModule"
      :key="item.id"
    >
      <van-cell :title="item.name" is-link value="更多" />
      <div class="floor-panel-big">
        <img v-if="item.url" :src="item.url" />
      </div>
      <div class="product-three-panel">
        <ul class="product-list">
          <li class="product-item-three" v-for="item2 in item.productDetailss">
            <div class="img-tag-contain">
              <img :src="item2.url" />
            </div>
            <div class="empty-line"></div>
            <div class="product-contain">
              <div class="product-identity van-multi-ellipsis--l2">{{ item2.title }}</div>
              <div class="price-wrapper">
                <div class="price-originalPrice-panel">
                  <div class="price-item">¥{{ item2.price }}</div>
                  <div v-if="item2.originalPrice" class="original-price-item">
                    ¥{{ item2.originalPrice }}
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <div class="article-in-end"></div>

    <BackTopV3 />

    <section class="footer-wrapper">
      <ul class="download-and-login">
        <li class="download-app">
          <i class="oc-icon icon-download icon-item"> </i>
          <span class="text-item"> 下载 App </span>
        </li>
        <li class="login-oppo-store">
          <i class="oc-icon icon-login icon-item"> </i>
          <span class="text-item"> 登录帐号 </span>
        </li>
      </ul>
      <div class="footer-description-detail">
        <ul class="license-privacy-user">
          <li class="pointer">营业执照</li>
          <li class="border-panel">
            <div class="oc-hairline--right border-item"></div>
          </li>
          <li class="pointer">隐私政策</li>
          <li class="border-panel">
            <div class="oc-hairline--right border-item"></div>
          </li>
          <li class="pointer">用户协议</li>
        </ul>
        <div class="copyright-box">©2005 - 2021 OPPO 版权所有 粤ICP备14056724号</div>
      </div>
    </section>

    <div class="tabbar">
      <TabBar />
    </div>
  </div>
</template>

<script>
import { reqHome, reqHomeModule, reqHomeSwipe, reqHomeNav } from "~/assets/js/http/api";
import BackTopV3 from "@/components/BackTop-v3.vue";
import TabBar from "@/components/TabBar.vue";
import InpSwipe from "@/components/InpSwipe.vue";
export default {
  components: {
    BackTopV3,
    TabBar,
    InpSwipe,
  },
  data() {
    return {};
  },

  async asyncData() {
    const { data: data3 } = await reqHomeSwipe();
    const { data: data4 } = await reqHomeNav();
    const { data: data1 } = await reqHome();
    const { data: data2 } = await reqHomeModule();

    return {
      floorList: data1[0].productDetailss,
      floorLittleList: data1[0].productDetailssLittle,
      saleToday: data1[1].productDetailss,
      productModule: data2,
      swipeList: data3,
      navList: data4,
    };
  },
};
</script>

<style lang="scss" scoped>
.home__background {
  background-color: #f7f8fa;
}

.inp-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.van-swipe-item {
  height: 208.5px;
}
::v-deep .van-grid-item__icon {
  font-size: 45px;
}

.van-cell {
  background: transparent;
  padding: 0.26667rem 0;
}
::v-deep .van-cell__title {
  font-size: 15px;
}

.floor-contain {
  padding: 12px;
  .floor-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    border-radius: 8px;
    .floor-item {
      width: calc(50% - 4px);
      .floor-img-wrapper {
        width: 100%;
        height: calc((50vw - 20px)*307 / 496)vw;
      }
    }
  }
  .floor-row__little {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    border-radius: 8px;
    .floor-item__little {
      width: calc(25% - 4px);
      .floor-img-wrapper {
        width: 100%;
        height: calc((25vw - 20px)*306 / 240)vw;
      }
    }
  }
}

.sale-contain {
  padding: 12px 12px 0;
  .title-flex {
    display: flex;
    .custom-title__big {
      font-size: 15px;
    }
    .to-line-height {
      line-height: 0.64rem;
      margin-left: 4px;
      margin-right: 4px;
      display: flex;
    }
    .custom-title {
      font-size: 12px;
      color: #969799;
    }
    .time-colon,
    .time-block {
      color: #f63434;
    }
  }
  .slide-product-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      background: transparent;
      opacity: 0;
    }
    .slide-list-panel {
      display: flex;
      align-items: center;
      padding-right: 18px;
      .slide-product-item {
        width: 104px;
        height: 149px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
          margin-left: 12px;
          border-radius: 8px 0 0 8px;
        }
        .product-img-box {
          width: 92px;
          height: 92px;
          margin-top: 6px;
        }
        .product-description {
          width: inherit;
          margin-top: 6px;
          .product-identity {
            font-size: 13px;
            padding-left: 5px;
          }
          .price-wrapper {
            margin-top: 6px;
            .price-originalPrice-panel {
              display: flex;
              justify-content: center;
              align-items: flex-end;
              .price-item {
                color: #f63434;
                font-size: 13px;
              }
              .original-price-item {
                margin-left: 3px;
                color: rgba(0, 0, 0, 0.3);
                font-weight: 400;
                font-size: 10.5px;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}

.product-collection-contain {
  padding: 12px 12px 0;
  .floor-panel-big {
    border-radius: 8px;
  }
  .product-three-panel {
    margin-top: 6px;
    .product-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .product-item-three {
        width: 33%;
        margin-top: 0.5%;
        padding-bottom: 15px;
        overflow: hidden;
        font-size: 0;
        background: #fff;
        &:first-of-type {
          border-radius: 8px 0 0 0;
        }
        &:nth-of-type(3) {
          border-radius: 0 8px 0 0;
        }
        &:nth-last-of-type(3) {
          border-radius: 0 0 0 8px;
        }
        &:last-of-type {
          border-radius: 0 0 8px 0;
        }
        .img-tag-contain {
          width: 116px;
          height: 116px;
        }
        .empty-line {
          height: 16px;
        }
        .product-contain {
          padding: 0px 8px;
          .product-identity {
            font-size: 13px;
            line-height: 19.5px;
          }
          .price-wrapper {
            margin-top: 6px;
            .price-originalPrice-panel {
              display: flex;
              .price-item {
                font-size: 13px;
                color: #f63434;
              }
              .original-price-item {
                margin-left: 3px;
                color: rgba(0, 0, 0, 0.3);
                font-size: 10.5px;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}

.footer-wrapper {
  .download-and-login {
    display: flex;
    justify-content: space-between;
    background: #fff;
    .download-app,
    .login-oppo-store {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 41px;
      text-align: center;
      .icon-item {
        color: #b2b2b2;
        font-size: 24px;
      }

      .text-item {
        color: #333;
        font-size: 13px;
      }
    }
  }

  .footer-description-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70.5px;
    color: #666;
    font-size: 10px;
    text-align: center;
    background: #fff;
    .license-privacy-user {
      display: flex;
      justify-content: center;
      .border-panel {
        display: flex;
        padding: 0 17px;
        .border-item {
          height: 10px;
        }
      }
    }

    .copyright-box {
      margin-top: 10px;
    }
  }
}

.article-in-end {
  height: 24px;
  background-color: #f7f8fa;
}

.tabbar {
  height: 50px;
}
</style>
