<template>
  <div class="login-wrapper">
    <div class="login-img">
      <img src="https://s3.bmp.ovh/imgs/2021/12/891abc4d6fe19e55.png" alt="" />
    </div>
    <div class="login-input">
      <input type="text" placeholder="请输入用户名" v-model="loginForm.username" />
    </div>
    <div class="login-input">
      <input type="text" placeholder="请输入密码" v-model="loginForm.password" />
    </div>
    <div class="login-bar" @click="login">登录</div>
  </div>
</template>

<script>
import { reqLogin } from "@/assets/js/http/api";
export default {
  data() {
    return {
      loginForm: {
        username: "admin",
        password: "123456",
      },
    };
  },
  methods: {
    async login() {
      if (this.loginForm.username !== "admin" || this.loginForm.password !== "123456")
        return;
      const res = await reqLogin(this.loginForm);
      console.log("🚀 ~ file: Login.vue ~ line 32 ~ login ~ res", res);
      if (res.desc) {
        this.$cookies.set("token", res.data.token);
        this.$router.push("/");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.login-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 40px;
  .login-img {
    width: 208px;
    height: 34px;
    margin: 0 auto 40px;
  }

  .login-input {
    margin-bottom: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    border: 1px solid #0000001a;
    border-radius: 50px;
    background: #f7f7f7;
    font-size: 16px;
    input {
      width: 100%;
      background: none;
    }
  }

  .login-bar {
    margin-top: 32px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #2ad181;
    border-radius: 18px;
  }
}
</style>
