<template>
  <div>
    <div class="nav">
      <div class="nav-bar van-hairline--bottom">
        <div class="back"><i class="oc-icon icon-back" @click="router.back()"></i></div>
        <div class="title">商品详情</div>
      </div>
    </div>

    <van-swipe>
      <van-swipe-item v-for="(item, index) in swipeImgList" :key="item.thumbnail_url"
        ><img :src="item.thumbnail_url" alt="" @click="preview(item.thumbnail_url)"
      /></van-swipe-item>
      <template #indicator>
        <div class="custom-indicator">{{ current + 1 }}/9</div>
      </template>
    </van-swipe>

    <div class="count-down">
      <div class="count-down-left">
        <div class="count-down-label">
          {{ userPriceReduceList.priceTag }}
        </div>
        <div class="count-down-price">¥{{ userPriceReduceList.finalPrice }}</div>
      </div>
      <div class="count-down-right">
        <div class="count-down-tips">距活动结束</div>
        <van-count-down :time="time">
          <template #default="timeData">
            <span class="block">{{ timeData.days }}</span>
            <span class="colon">天</span>
            <span class="block">{{ timeData.hours }}</span>
            <span class="colon">:</span>
            <span class="block">{{ timeData.minutes }}</span>
            <span class="colon">:</span>
            <span class="block">{{ timeData.seconds }}</span>
          </template>
        </van-count-down>
      </div>
    </div>

    <section class="listSellMaps">
      <ul class="listSellMaps-box box-small">
        <li v-for="(item, index) in listSellMaps" class="item">
          <div class="item-box">
            <img alt="" :src="item.icon" />
            <div class="item-name">
              {{ item.title }}
            </div>
            <div class="item-type">
              {{ item.subTitle }}
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="box">
      <div class="title">
        {{ introduce.name }}
      </div>
      <div class="description">
        <div v-html="introduce.slogan"></div>
      </div>
      <div class="price">
        <div class="marketing-price">楼{{ introduce.price }}</div>
        <div class="market-tags-warn">
          {{ introduce.creditsRateText }}
        </div>
      </div>
    </section>

    <section class="choice">
      <div class="choice-box">
        <div class="choice-item">
          <div class="choice-title">
            {{ sku_config[0].name }}
          </div>
          <div class="choice-option-box">
            <div class="choice-option">
              <a
                v-for="(item2, index) in sku_config[0].values"
                :class="choiceColorIndex === index ? 'button-primary' : 'button-default'"
                class="choice-option-item"
                @click="changeColor(index)"
              >
                {{ item2.item }}
              </a>
            </div>
          </div>
        </div>

        <div class="choice-item">
          <div class="choice-title">
            {{ sku_config[1].name }}
          </div>
          <div class="choice-option-box">
            <div class="choice-option">
              <a
                v-for="(item2, index) in sku_config[1].values"
                :class="choiceConfigIndex === index ? 'button-primary' : 'button-default'"
                class="choice-option-item"
                @click="changeConfig(index)"
              >
                {{ item2.item }}
              </a>
            </div>
          </div>
        </div>

        <div class="number">
          <div class="number-title">数量</div>
          <div class="symbol-box" @click="num > 1 ? num-- : num">
            <i class="oc-icon icon-minus"> </i>
          </div>
          <div class="num">
            {{ num }}
          </div>
          <div class="symbol-box" @click="num++">
            <i class="oc-icon icon-plus icon-check"> </i>
          </div>
        </div>
      </div>
    </section>

    <div
      class="bigImg-wrapper"
      v-for="(item, index) in duoDuanDescriptionImages"
      :key="item.url"
    >
      <img v-lazy="item.url" />
    </div>

    <van-goods-action>
      <van-goods-action-icon icon="chat-o" text="客服" dot />
      <van-goods-action-icon icon="cart-o" text="购物车" badge="5" />
      <van-goods-action-icon icon="shop-o" text="店铺" badge="12" />
      <van-goods-action-button type="warning" text="加入购物车" />
      <van-goods-action-button type="danger" text="立即购买" />
    </van-goods-action>
  </div>
</template>

<script>
import { reqSkuId } from "~/assets/js/http/api";
import { ImagePreview } from "vant";

export default {
  data() {
    return {
      choiceColorIndex: 0,
      choiceConfigIndex: 0,
      num: 1,
      current: 0,
    };
  },
  async asyncData() {
    const { data } = await reqSkuId();
    const swipeImgList = data.duoDuanDetailImages;
    const userPriceReduceList = data.userPriceReduceList[0];
    const listSellMaps = data.listSellMaps;
    const introduce = {
      name: data.name,
      slogan: data.slogan,
      price: data.price,
      creditsRateText: data.creditsRateText,
    };
    const sku_config = data.attributes.configs;
    const duoDuanDescriptionImages = data.duoDuanDescriptionImages;

    return {
      swipeImgList,
      userPriceReduceList,
      listSellMaps,
      introduce,
      sku_config,
      duoDuanDescriptionImages,
    };
  },
  computed: {
    time() {
      return this.userPriceReduceList?.endTime - Date.now();
    },
  },
  methods: {
    preview(url) {
      ImagePreview([url]);
    },
    changeColor(index) {
      choiceColorIndex.value = index;
    },
    changeConfig(index) {
      choiceConfigIndex.value = index;
    },
  },
  mounted() {},
  destroyed() {},
};
</script>

<style lang="scss" scoped>
.nav {
  height: 46px;
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: #fff;
    .title {
      font-size: 17px;
    }
    .back {
      position: absolute;
      left: 16px;
      i {
        color: #f63434;
      }
    }
  }
}

.van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  // background-color: #39a9ed;
}
.custom-indicator {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 5px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.1);
}

.count-down {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  color: #fff;
  line-height: 21px;
  background: linear-gradient(228deg, #ff4343, #ff8243);
  .count-down-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    .count-down-label {
      height: 21px;
      margin-right: 8px;
      padding: 0 5px;
      font-size: 10px;
      text-align: center;
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: 5px;
    }
  }
  .count-down-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    margin-right: 6px;
    .colon {
      display: inline-block;
      margin: 0 4px;
      color: #fff;
    }
    .block {
      display: inline-block;
      width: 22px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: 5px;
    }
  }
}

.box {
  margin: 0 12px;
  padding: 0 12px 16px 12px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  .title {
    margin-top: 16px;
    overflow: hidden;
    color: #333;
    font-size: 17px;
    line-height: 30px;
  }

  .description {
    margin-top: 9px;
    font-size: 13px;
    line-height: 19.5px;
  }

  .price {
    margin-top: 11px;
    .marketing-price {
      color: #f63434;
      font-size: 25px;
    }
    .market-tags-warn {
      display: inline-block;
      margin: 4px 0 0 10px;
      padding: 0 2px;
      color: #ff722c;
      font-size: 10px;
      background: #fff5e8;
      border-radius: 2px;
    }
  }
}

.choice-box {
  position: relative;
  margin: 10px 12px 0 12px;
  padding: 16px 0 16px 0;
  overflow: hidden;
  background: #fff;
  border-radius: 10.5px;
  .choice-item {
    position: relative;
    display: flex;
    font-size: 13px;
    .choice-title {
      margin: 7.5px 10px 7.5px 12px;
      color: #666;
      font-size: 13px;
      white-space: nowrap;
    }
    .choice-option-box {
      .choice-option {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .choice-option-item {
          max-width: 280px;
          margin: 0 8px 10px 0;
          padding: 7.5px 10px;
          overflow: hidden;
          color: #000;
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          background: #f7f8fa;
          border-radius: 5px;
        }
        .button-primary {
          color: #f63434;
          background: #fff;
          border: 1px solid #f63434;
        }
        .button-disabled {
          color: #b2b2b2;
          background-color: #f7f8fa;
          border: 1px solid transparent;
        }
        .button-default {
          color: #333;
          background-color: #f7f8fa;
          border: 1px solid transparent;
          &:active {
            color: #f63434;
            background: #fff;
            border: 1px solid #f63434;
          }
        }
      }
    }
  }
  .number {
    display: flex;
    align-items: center;
    .number-title {
      margin: 0 10px 0 12px;
      color: #666;
      font-size: 13px;
    }
    .symbol-box {
      width: 28px;
      height: 28px;
      line-height: 19px;
      text-align: center;
      background: #f7f8fa;
      border-radius: 5px;
      i {
        color: #000;
        font-size: 20px;
        vertical-align: middle;
        opacity: 0.1;
      }
      .icon-check {
        opacity: 1;
      }
      .icon-plus {
        color: #666;
      }
    }
    .num {
      margin: 0 12px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.listSellMaps {
  .listSellMaps-box {
    display: flex;
    justify-content: space-around;
    height: 82.5px;
    .item {
      .item-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px 0 0 0;
        img {
          width: 24px;
        }

        .item-name {
          padding-top: 4px;
          color: #333;
          font-size: 12px;
        }

        .item-type {
          padding-top: 6px;
          color: #666;
          font-size: 10px;
        }
      }
    }
  }
}
.bigImg-wrapper:first-child {
  margin-top: 15px;
}
</style>
