<template>
  <div>
    <div class="search-wrapper">
      <div class="search-bar">
        <div class="search-back" @click="router.back()">
          <i class="oc-icon icon-back"></i>
        </div>
        <div class="search">
          <i class="oc-icon icon-search"></i>
          <input type="text" v-model="inpVal" />
        </div>
        <div class="btn" @click="goSearch">搜索</div>
      </div>
    </div>
    <div class="search-command" v-if="!isSearch">
      <div class="label-recommend-wrapper" style="">
        <div class="hot-recommend">热门推荐</div>
        <div class="label-panel">
          <span class="tag color-style" v-for="item in tagList" :key="item.id">{{
            item.title
          }}</span>
          <!-- <span  class="tag grey-style">一加 9 Pro</span> -->
        </div>
      </div>
    </div>
    <div class="result" v-if="isResultGet">
      <div class="no-product-content">
        <div class="no-product-img">
          <img src="https://dsfs.oppo.com/store/cn/m/img/noProduct.9761300b.png" alt="" />
        </div>
        <div class="no-product-text">
          <div class="text-first">非常抱歉</div>
          <div class="text-second">没有找到相关产品</div>
        </div>
      </div>
      <div class="text-recommend">为你推荐</div>
      <ul class="search-result-container">
        <li
          class="search-result-item"
          v-for="item in ResultList"
          :key="item.id"
          @click="router.push({ name: 'Product' })"
        >
          <div class="search-inner-box">
            <div class="result-img">
              <img :src="item.url" />
            </div>
            <div class="search-product-identity">
              <div class="title-sku-item van-multi-ellipsis--l2">
                {{ item.title }}
              </div>
              <div class="price-wrapper">
                <div class="price-item">¥{{ item.price }}</div>
                <div class="original-price-item" v-if="item.originalPrice">
                  ¥{{ item.originalPrice }}
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="noData" style="">已经到底啦</div>
    </div>
  </div>
</template>

<script>
import { reqSearchRecommend, reqSearchResult } from "~/assets/js/http/api";
export default {
  data() {
    return {
      isSearch: false,
      isResultGet: false,
      inpVal: "",
      ResultList: [],
    };
  },
  async asyncData({ $axios, req, res, params }) {
    const { data } = await reqSearchRecommend();
    return {
      tagList: data,
    };
  },
  methods: {
    goSearch() {
      if (!this.inpVal.trim()) return;
      this.isSearch = true;
      this.getResult();
      this.$nextTick(function () {
        this.isResultGet = true;
      });
    },
    async getResult() {
      const { data } = await reqSearchResult();
      this.ResultList = data[0].productDetailss;
    },
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
.search-wrapper {
  height: 46px;
  .search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #fff;
    display: flex;
    align-items: center;
    .search-back {
      width: 50px;
      i {
        margin-left: 15px;
        color: #f63434;
      }
    }

    .search {
      height: 34px;
      background: #f7f8fa;
      flex: 1;
      display: flex;
      align-items: center;
      border-radius: 4px;
      i {
        margin-left: 8px;
        margin-right: 4px;
      }

      input {
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 18px;
      }
    }

    .btn {
      width: 64px;
      font-size: 15px;
      text-align: center;
    }
  }
}

.search-command {
  .label-recommend-wrapper {
    padding: 31px 12px 0;
    background-color: #fff;
    .hot-recommend {
      color: #999;
      font-weight: 400;
      font-size: 13px;
    }

    .label-panel {
      margin-top: 18px;
      margin-bottom: 8px;
      .tag {
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 2px 10px;
        font-size: 13px;
        line-height: 31px;
        height: 31px;
        border-radius: 5px;
        display: inline-block;
      }
      .color-style {
        color: #fff;
        background: linear-gradient(228deg, #ff4343, #ff8243);
      }
      .grey-style {
        color: #666;
        background: #f7f8fa;
      }
    }
  }
}

.result {
  .no-product-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 43px 0;
    .no-product-img {
      width: 150px;
      height: 52px;
    }

    .no-product-text {
      color: rgba(0, 0, 0, 0.2);
      .text-first {
        font-size: 16.5px;
      }

      .text-second {
        margin-top: 6px;
        font-size: 12.5px;
      }
    }
  }
  .text-recommend {
    text-align: center;
    font-size: 16px;
  }
  .search-result-container {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    .search-result-item {
      width: 178.5px;
      padding: 4px;
      .search-inner-box {
        padding: 9px;
        background: #fff;
        border-radius: 8px;
        font-size: 0;
        .result-img {
          width: 100%;
        }

        .search-product-identity {
          margin-top: 6px;
          text-align: left;
          .title-sku-item {
            font-size: 15px;
          }

          .price-wrapper {
            margin-top: 6px;
            display: flex;
            align-items: flex-end;
            .price-item {
              color: #f63434;
              font-size: 13px;
            }
            .original-price-item {
              margin-left: 3px;
              color: rgba(0, 0, 0, 0.3);
              font-size: 10.5px;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
  .noData {
    color: #b2b2b2;
    font-size: 13px;
    background-color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
}
</style>
