<template>
  <div class="page">
    <div class="page__bd">
      <div class="ucenter-header">
        <div class="header-userinfo">
          <div class="header-userinfo-wrap">
            <div class="user-avator">
              <img
                src="https://uc-avatar-cn.heytapimage.com/titans-usercenter-avatar-bucket-cn/avatar/4.png?imgModifyTime=null&amp;x-oss-process=image/format,webp"
                class="oc-image__img"
                style="object-fit: cover"
              />
            </div>
            <div class="user-container">
              <div class="user-name">用户01359852812</div>
              <div class="user-id">帐号：131****9132</div>
            </div>
          </div>
        </div>
        <div class="header-property">
          <div class="item-property">
            <div class="property-value">0</div>
            <div class="property-name">优惠券</div>
          </div>
          <div class="item-property">
            <div class="property-value">0</div>
            <div class="property-name">回收代金券</div>
          </div>
          <div class="item-property">
            <div class="property-value">0</div>
            <div class="property-name">积分</div>
          </div>
        </div>
      </div>
      <div class="ucenter-order">
        <van-cell title="我的订单" is-link value="全部订单" />

        <van-grid :column-num="5" :border="false">
          <van-grid-item text="待付款">
            <template #icon>
              <i class="oc-icon icon-obligation"></i>
            </template>
          </van-grid-item>
          <van-grid-item text="待发货">
            <template #icon>
              <i class="oc-icon icon-shipments"></i>
            </template>
          </van-grid-item>
          <van-grid-item text="已发货">
            <template #icon>
              <i class="oc-icon icon-receiving"></i>
            </template>
          </van-grid-item>
          <van-grid-item text="待评价">
            <template #icon>
              <i class="oc-icon icon-evaluate"></i>
            </template>
          </van-grid-item>
          <van-grid-item text="退换/售后">
            <template #icon>
              <i class="oc-icon icon-after-sale"></i>
            </template>
          </van-grid-item>
        </van-grid>
      </div>
      <div class="ucenter-list">
        <van-cell value="常用工具" />
        <van-grid :column-num="4" :border="false">
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/201912/201912020712185de4f76eba47b.png?x-oss-process=image/format,webp"
            text="服务网点"
          />
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/201912/201912020712065de4f79ee379f.png?x-oss-process=image/format,webp"
            text="保障服务"
          />
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/201912/201912020712335de4f7b9dcd4b.png?x-oss-process=image/format,webp"
            text="真伪查询"
          />
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/201912/201912020712115de4f7df611f6.png?x-oss-process=image/format,webp"
            text="维修服务"
          />
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/202109/20210926020942615015aec6b9b.png?_w_=90&_h_=90&x-oss-process=image/format,webp"
            text="收货地址"
          />
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/202109/2021092603093261501b085cce0.png?_w_=90&_h_=90&x-oss-process=image/format,webp"
            text="回收单"
          />
          <van-grid-item
            icon="https://dsfs.oppo.com/archives/202106/2021060211064460b6f768514e6.png?_w_=90&_h_=90&x-oss-process=image/format,webp"
            text="学生优惠"
          />
        </van-grid>
      </div>
    </div>
    <div class="footer-wrapper">
      <ul class="download-and-login">
        <li class="download-app">
          <i class="oc-icon icon-download icon-item"> </i>
          <span class="text-item"> 下载 App </span>
        </li>

        <li class="login-oppo-store">
          <i class="oc-icon icon-login icon-item login-icon"> </i>
          <span class="text-item"> 退出登录 </span>
        </li>
      </ul>
      <div class="footer-description-detail">
        <ul class="license-privacy-user">
          <li class="pointer">营业执照</li>

          <li class="pointer">隐私政策</li>

          <li class="pointer">用户协议</li>
        </ul>
        <div class="copyright-box">©2005 - 2021 OPPO 版权所有 粤ICP备14056724号</div>
      </div>
    </div>

    <TabBar />
  </div>
</template>

<script>
import TabBar from "@/components/TabBar.vue";
export default {
  components: { TabBar },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
::v-deep .van-cell {
  font-size: 16px;
}
.page {
  color: #666;
  font-weight: 400;
  font-size: 13px;
  .page__bd {
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 8px;
    background: url(https://dsfs.oppo.com/store/cn/m/img/bg.d66a35d4.png) #fff no-repeat
      top;
    background-size: 100% auto;
    .ucenter-header {
      height: 161px;
      padding: 0 12px;
      .header-userinfo {
        height: 104px;
        padding: 21px 0;
        .header-userinfo-wrap {
          display: flex;
          align-items: center;
          .user-avator {
            width: 62px;
            height: 62px;
            margin-right: 9px;
            overflow: hidden;
            border-radius: 50%;
          }
          .user-container {
            flex: 1;
            .user-name {
              height: 17px;
              color: #333;
              font-weight: 500;
              font-size: 17px;
            }
            .user-id {
              margin-top: 8px;
            }
          }
        }
      }
      .header-property {
        color: #000;
        text-align: center;
        display: flex;
        .item-property {
          flex: 1;
          .property-value {
            margin-bottom: 11.5px;
            font-weight: 500;
            font-size: 15px;
          }
        }
      }
    }
    .ucenter-order {
    }
    .ucenter-list {
      ::v-deep .van-icon__image {
        width: 32px;
        height: 32px;
      }
    }
  }
  .footer-wrapper {
    background-color: #fff;
    padding-top: 6px;
    .download-and-login {
      display: flex;
      justify-content: space-between;
      .download-app,
      .login-oppo-store {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 41px;
        .icon-item {
          color: #b2b2b2;
          font-size: 24px;
        }
        .text-item {
          color: #333;
          font-weight: 500;
          font-size: 13px;
        }
      }
    }
    .footer-description-detail {
      color: #666;
      font-weight: 400;
      font-size: 10px;
      text-align: center;
      padding-bottom: 30px;
      .license-privacy-user {
        display: flex;
        justify-content: center;
        padding: 2px 22px;
        .pointer {
          flex: 1;
        }
      }
      .copyright-box {
        margin-top: 10px;
      }
    }
  }
}
</style>
